<footer class="footer mt-auto py-3 bg-body-tertiary fixed-bottom" data-bs-theme="dark">
    <div class="container-fluid"><hr class="text-secondary">
        <span class="text-secondary-emphasis">© 2023 Big Black Productions Company, Inc</span>
        <div class="float-end">
                <a href="">
                    <i class="bi bi-facebook me-2" style="color: grey;"></i>
                </a>
                <a href="">
                    <i class="bi bi-twitter me-2" style="color: grey;"></i>
                </a>
                <a href="">
                    <i class="bi bi-instagram" style="color: grey;"></i>
                </a>
        </div>        
    </div>
</footer>



